<h1><%= @track.name %></h1>

<ul>
    <li>Track Number: <%= @track.ord %></li>
    <li>Album: <%= @track.album.name %></li>
    <li>Bonus: <%= @track.bonus %></li>
    <li>Lyrics: <%= @track.lyrics %></li>
</ul>

<a href="<%= album_url(@track.album) %>">Back to albums</a>