<h1><%= @track.name %></h1>

<ul>
    <li>Track Number: <%= @track.ord %></li>
    <li>Album: <%= @track.album.name %></li>
    <li>Bonus: <%= @track.bonus %></li>
    <li>Lyrics: <%= @track.lyrics %></li>
</ul>
<a href="<%= edit_track_url(@track) %>">Edit</a>

<form action="<%= track_url(@track) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">

    <input type="submit" value="Delete">
</form>
<br>
<form action="<%= notes_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="content">Notes:</label>
    <textarea name="note[content]" id="content"></textarea>

    <input type="hidden" name="note[track_id]" value=<%= @track.id %>>

    <input type="submit" value="Add a Note">
</form>
<br>
<a href="<%= album_url(@track.album) %>">Back to albums</a>