<h1>Edit an Album</h1>

<form action="<%= album_url(@album) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="patch">

    <label for="name">Name:</label>
    <input type="text" name="album[name]" id="name" value=<%= @album.name %>>
    <br>
    <label for="band">Band:</label>
    <select name="album[band_id]" id="band">
        <% Band.all.each do |band| %>
            <option 
            value=<%= band.id %> 
            <%= band.id == @album.band.id ? "selected" : "" %> >
            <%= band.name %></option>
        <% end %>
    </select>
    <br>
    <label for="year">Year:</label>
    <input type="number" name="album[year]" id="year" value=<%= @album.year %>>
    <br>
    <label>Is it live?</label>
    <input 
        type="radio" 
        name="album[live]" 
        id="true" 
        value="t"
        <%= @album.live ? "checked" : "" %>
    >
    <label for="true">Yes</label>

    <input 
        type="radio"
        name="album[live]" 
        id="false" 
        value=""
        <%= !@album.live ? "checked" : ""%>
    >
    <label for="false">No</label>
    <br>
    <input type="submit" value="Update Album">
</form>
