<h1><%= @band.name %></h1>

<a href="<%= new_band_album_url(@band.id) %>">Create a new album</a>
<br>

<a href="<%= edit_band_url(@band) %>">Edit</a>

<form action="<%= band_url(@band) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">

    <input type="submit" value="Delete">
</form>

<a href="<%= bands_url %>">Back To All Bands</a>